{% extends 'base.html.twig' %}

{% block title %}New Souscategorie{% endblock %}

{% block body %}
    <h1>Create new Souscategorie</h1>

    {{ include('souscategorie/_form.html.twig') }}

    <a href="{{ path('souscategorie_index') }}">back to list</a>
{% endblock %}
