{% extends 'base.html.twig' %}

{% block title %}New Sousscategorie{% endblock %}

{% block body %}
    <h1>Create new Sousscategorie</h1>

    {{ include('sousscategorie/_form.html.twig') }}

    <a href="{{ path('sousscategorie_index') }}">back to list</a>
{% endblock %}
